# Dependencies
node_modules/

# Secrets - JANGAN PERNAH di-commit
.env
.env.*
*.key
*.pem
secrets.json

# Build / output
dist/
build/
out/
artifacts/
cache/

# Logs
*.log
npm-debug.log*

# OS junk
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
